*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.cabeçalho {
    position: absolute;
    top: 0;
    
    }
.container{
    width: calc(100% - 20rem);
    margin: 0 auto;

}
.cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    color: #9767A9;
    font-size: 15px;    
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    }

.logo{
    width: 111px;
}
.menu-nav{
    height: 30px;
    width: 800px;
    }
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    font-size: 20px;
    position: relative;
    bottom: 10px;    
}
.pesquisa{
    width: 213px;
    background-image: url(./Layer_3.svg);
    background-position: .5rem;
    background-repeat: no-repeat;
    border: solid #9767A9;
    border-radius: 5em;
    height: 39px;
    padding: 0 .75rem 0 2rem;
    position: absolute;
    left: 1380px;
    top: 29px;
}
.pesquisa:focus-visible {
    outline: none;
}
body{
    /* width: 1920px;
    height: 6192px; */
}
.container-s1{
    background-image: url(./cabeludo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
}
.title-h1{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    width: 536px;
    text-align: left;
    font-size: 55px;
    letter-spacing: 0px;
    font-family: 'Playfair Display', serif;
    padding-top: 300px;
    position: relative;
    right: 30px;
}
.title-p{
    display: flex;
    justify-content: center;
    color: white;
    width: 375px;
    text-align: left;
    font-size: 35px;
    font-weight: 100px;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: -1.2px;
    padding-top: 350px;
    position: relative;
    top: 60px;
}

.container-s2{
    background-color: #9767A9;
    color: white;
    display: flex;
    justify-items: flex-end;
    height: 378px;
    width: 100%;
}
.titulo-h2{
    width: 1000px;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    text-align: left;
    padding-left: 150px;
    padding-top: 0px;  

}
.texto-p{
    display: flex;
    justify-content: center;
    width: 710px;
    height: 270px;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 25px;
    font-family: 'Montserrat',sans-serif;
}
.bloco1{
    display: flex;
    
}
.container-s3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 87px;
        
}
.container-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 288px;
    margin-left: 1rem;
}
.box-title{
    width: 580px;
    /* height: 513px; */
    background-color: #9767A9;
    color: white;
    position: relative;
    bottom: 157px;
    padding: 10px;
    }
.box-title-3{
    width: 580px;
    /* height: 415px; */
    background-color: #9767A9;
    color: white;
    position: relative;
    bottom: 157px;
    padding: 10px;
}
.box-title-4{
    width: 580px;
    /* height: 415px; */
    background-color: #9767A9;
    color: white;
    position: relative;
    bottom: 157px;
    padding: 10px;
}
.box-title-5{
    width: 580px;
    /* height: 420px; */
    background-color: #9767A9;
    color: white;
    position: relative;
    bottom: 157px;
    padding: 10px;
}
.box-title-6{
    width: 580px;
    /* height: 350px; */
    background-color: #9767A9;
    color: white;
    position: relative;
    bottom: 157px;
    padding: 10px;
}
.box-title-7{
    width: 580px;
    /* height: 350px; */
    background-color: #9767A9;
    color: white;
    position: relative;
    bottom: 157px;
    padding: 10px;
    }
.img-main{
    width: 812px;
    height: 674px;
}
.box8{
    width: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12rem;

}
.hair{
    width: 536px;
    height: 72px;
    
}
h2{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    
}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-top: 5px;
    padding-left: 2rem;
    
    
}
.box-text{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    padding: 0 2rem;
}

.gallery-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
}
.g-item-1{
    width: 398px;
    height: 598px;
}
.g-item-2{
    width: 398px;
    height: 237px;
    padding-top: 10px;
}
.g-item-3{
    width: 260px;
    height: 299px;
}
.g-item-4{
    width: 260px;
    height: 282px;
    padding-top: 10px;
    }
.g-item-5{
    width: 260px;
    height: 282px;
    padding-top: 10px;
}
.g-item-6{
    width: 260px;
    height: 598px;
    
}
.g-item-7{
    width: 260px;
    height: 237px;
    padding-top: 10px;
}
.g-item-8{
    width: 398px;
    height: 845px;
}
.g-item-9{
    width: 260px;
    height: 237px;

}
.g-item-10{
    width: 260px;
    height: 594px;
    padding-top: 10px;
}

.rodape{
    background-color: #9767A9;
    width: 100%;
   
}
.rodape .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.p-bot{
    line-height: 3px;
    font-size: 15px;
    }
.buttons{
    display: flex;
        
}
.box-button{
    display: flex;
    align-items: center;
}
.img-bot{
    width: 38px;
    height: 35px;
} 
.p-footer{
    width: 81px;
    text-align: center;
}