* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.cabecalho {
  width: 100%;
  max-width: 1366px;
  position: fixed;
  background-color: white;
  z-index: 99;
  height: 5.43rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.43rem;
  color: #9767a9;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  padding: 0 4rem;
}
.logo {
  width: 111px;
}
.menu-nav {
  width: 100%;
}
label[for="bt_menu"] {
  padding: 5px;
  background-color: purple;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  color: white;
  width: 5.43rem;
  height: 5.43rem;
}
#bt_menu {
  display: none;
}
label[for="bt_menu"] {
  display: none;
}
ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 35rem;
  cursor: pointer;
  color:#9767a9;
  font-family: "Montserrat", sans-serif;
  position: relative;
  }
a{
  color:#9767a9;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: block;
}
ul li{
  float: left;
  visibility: visible;
}
ul li a:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration-color: inherit;
  background-color: #9767a9;
  }
.menu-nav a:hover{
  background-color: #9767a9; 
}
.pesquisa {
  width: 160px;
  background-image: url(./CACHOS.IMAGENS/Layer_3.svg);
  background-position: 0.5rem;
  background-repeat: no-repeat;
  border: solid #9767a9;
  border-radius: 5em;
  height: 35px;
  padding: 0 0.75rem 0 2rem;
  position: absolute;
  left: 980px;
  top: 24px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif; 
  
}
.pesquisa:focus-visible {
  outline: none;
}
.container-s1 {
  width: 100%;
  background-image: url(./CACHOS.IMAGENS/cabeludo@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: space-evenly;
}
.title-h1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  width: 536px;
  text-align: left;
  font-size: 50px;
  letter-spacing: 0px;
  font-family: "Playfair Display", serif;
  padding-top: 250px;
  padding-left: 190px;
  position: relative;
  right: 30px;
}
.title-p {
  display: flex;
  justify-content: center;
  color: white;
  width: 600px;
  text-align: left;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1.2px;
  padding-top: 260px;
  padding-left: 210px;
  position: relative;
  top: 60px;
}

@media (max-width: 800px) {
.cabeçalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
  padding: 0;
  }
  label[for="bt_menu"] {
    padding: 5px;
    background-color: #9767a9;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 5.43rem;
    height: 5.43rem;
    display: block;
  }
  /* #bt_menu:checked ~ .menu-nav {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    transition: all 0.4s;
    visibility: visible;
    }
    il{
      display: flex;
      flex-direction: column;
    } */
  .menu-nav ul li{ 
    display: none;
  
 }
 .container-sec{
  width: 375px;
 }

 .container-card {
  width: 375px;
 }

 .img-main {
   width: 100%;
 }

  .logo{
    position: absolute;
    padding-left: 40%;
  }
  .redes{
    display:none;
  }
  .container-s1 {
  width: 100%;
  background-image: url(./CACHOS.IMAGENS/cabeludo@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  }
.title-h1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  width: 536px;
  text-align: left;
  font-size: 50px;
  letter-spacing: 0px;
  font-family: "Playfair Display", serif;
  padding-top: 110px;
  padding-left: 190px;
  position: relative;
  right: 131px;
}
.title-p {
  width: 664px;
  text-align: left;
  font-size: 20px;
  letter-spacing: -1.2px;
  padding: 0;
  right: 78px;
}
}
  